name: Update chemistry data

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 6'

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests pyyaml beautifulsoup4

      - name: Run parser script
        run: |
          python update_data.py

      - name: Commit and push data
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          if [ -f chem_data.json ]; then
            git add chem_data.json
            git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-update chemistry data" && git push)
          else
            echo "chem_data.json was not generated!"
            exit 1
          fi

      - name: Deploy to GH pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./